
.nav-logo{
    filter: invert(1);
}

.nav-bg{
    background-color: rgb(45,45,45);
}

.user-img{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}

.cart-num{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10px
}

.women{
    /* border-right: 1px solid rgb(159, 158, 158); */
    border-right: 1px solid rgb(120, 117, 117);
    border-left: 1px solid rgb(120, 117, 117);
}

.men{
    border-right: 1px solid rgb(120, 117, 117);
}

.Active{
    background-color: var(--main-color);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu[data-bs-popper] {
    left: -111px;
}

.dropdown-menu{
border-radius: 0;}

.dropdown-item.active, .dropdown-item:active {
    background-color:#6e6e6e ;
}

.dropdown-item{
    width: fit-content;
}

.navbar-toggler {
    padding: 0.3rem 0.8rem;
    border: 2px solid white;
}



@media (max-width: 992px) {
   .women{
        border-right: none;
        border-left: none;
        /* border-bottom: 1px solid rgb(204, 202, 202); */
    }

    .men{
        border-right: none;
        /* border-bottom: 1px solid rgb(204, 202, 202); */
    }
}
nav{
  position: static !important;
  width: 100% !important;
  height: 56,2px !important;
}

